<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <connectionStrings>
    <add name="JuntosDb" connectionString="Data Source=C:\JuntosDb.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>

  <!--Mapeamentos-->
  <unity>
    <typeAliases>
      <!-- Cabeçalhos fixos não retirá-los -->
      <!-- Retorna a mesma instância do objeto ou tipo registrado a cada chamada do método Resolve ou ResolveAll -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <!-- Registra o mapeamento de objetos mantendo uma referência fraca, caso o GC identifique que outro código está 
             mantendo uma referência forte ao objeto ele pode realizar o dispose da instância criada pelo gerenciador -->
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <!-- Implementa um comportamento singleton através de threads permitindo a criação de um novo objeto caso
             não esteja em uma thread específica -->
      <typeAlias alias="preThread" type="Microsoft.Practices.Unity.PreThreadLifetimeManager, Microsoft.Practices.Unity"/>

      <!--Mapear as classes abaixo-->
      <!-- Modelo de domínio -->
      <typeAlias alias="Pagamento" type="Juntos.Model.Pagamento, Juntos.Model"/>     

      <!-- Repositórios -->
      <typeAlias alias="IPagamentoRepository" type="Juntos.IRepository.IPagamentoRepository, Juntos.IRepository"/>
      <typeAlias alias="PagamentoRepository" type="Juntos.Repository.PagamentoRepository, Juntos.Repository"/>

      <!-- Services -->
      <typeAlias alias="IPagamentoService" type="Juntos.IService.IPagamentoService, Juntos.IService"/>
      <typeAlias alias="PagamentoService" type="Juntos.Service.PagamentoService, Juntos.Service"/>

      <!-- Camada de acesso a dados -->
      <typeAlias alias="IPagamentoDAO" type="Juntos.IDAL.IPagamentoDAO, Juntos.IDAL"/>
      <typeAlias alias="PagamentoDAO" type="Juntos.DAL.Provider.EntityFramework.PagamentoDAO, Juntos.DAL.Provider.EntityFramework"/>

    </typeAliases>
    <containers>
      <container name="container">
        <types>
          <!-- Repositórios -->
          <type type="IPagamentoRepository" mapTo="PagamentoRepository">
            <lifetime type="singleton"/>
          </type>

          <!-- Camada de acesso a dados -->
          <type type="IPagamentoDAO" mapTo="PagamentoDAO"/>

          <!-- Camada de serviços de domínio -->
          <type type="IPagamentoService" mapTo="PagamentoService"/>
          
        </types>
      </container>
    </containers>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
