@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <a href="Consumidor" title="Cadastro de Consumidores">Cadastro de Consumidores</a>
</p>
<p>
    <a href="Anunciante" title="Cadastro de Anunciantes">Cadastro de Anunciantes</a> 
</p>
