@model IEnumerable<Juntos.Model.Compra>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
    
}


<h2>Compras realizadas :</h2>
<table>
    <tr>
        <th>
            Oferta
        </th>
        <th>
            Preço
        </th>
        <th>
            Situação
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cupons[0].Oferta.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaga())
        </td>
    </tr>
}

</table>
